@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import './components/';


body {
  background-color: rgb(47, 76, 110);
  background-color: #003d66;
background-image: url("https://www.transparenttextures.com/patterns/green-cup.png");

  color: rgb(0, 0, 0);
  text-align: center;
}