@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import './components/';


body {
  background-color: rgb(47, 76, 110);
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 100px;
}